{% extends 'base.html.twig' %}

{% block body %}
<div class="ui grid">
	<div class="sixteen wide stretched column">
		<div class="ui segment">
			{% block subbody %}
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}