{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('topic') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('topic') }}
{% endblock %}

{% block body %}
<h2 class="ui header">Forum</h2>

<h4 class="ui top attached header inverted">
	{{ category.name }}
</h4>


<div class="ui attached segment">
	<div class="ui form">
		{{ form(form) }}
	</div>
</div>
{% endblock %}